@{
    ViewData["Title"] = ViewBag.Board.Nombre;

}
<div class="Board">
    <h1 class="display-4">@ViewBag.Board.Nombre</h1>
    <button class="btn btn-dark my-3 mx-auto" id="BoardButton" type="button" data-bs-toggle="modal"
        data-bs-target="#ModalForm" aria-expanded="false" aria-controls="ModalForm">
        Create Post
    </button>
    @{if(ViewBag.User.Moderador){
                        @* <a class="btn btn-dark" id="BoardButtonDelete" href='@Url.Action("deleteBoard", "Home", new{id=@ViewBag.Board.IdBoard})'>Delete Board</a> *@
                        <a class="btn btn-dark" id="BoardButtonDelete" onclick=''>Delete Board</a>
                        }
                        }
</div>
<div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="form">
            <div class="form">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Create Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" id="" action='@Url.Action("AgregarPost", "Home")' enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" name="IdBoard" value="@ViewBag.Board.IdBoard">
                        <input type="hidden" name="FkPost" value='Null'>
                        <label>Title:</label>
                        <input required type="text" name="Titulo" class="form-control fw-bold" placeholder="Title">
                        <br>
                        <label>Description:</label>
                        <textarea required class="form-control" name="Descripcion" rows="5" cols="50" placeholder="Text" class="my-2"></textarea>
                        <br>
                        <label>Upload Files:</label>
                        <input type="file" class="form-control pForm" name="FormFile">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-dark float-end" value="Post">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="BoardPosts">
    @{
        if (ViewBag.ListPosts.Count == 0)
        {
            <h2 class="text-center">No posts yet. Be the first one!</h2>
        }
        else
        {
            <div class="row justify-content-around">
                @foreach (Post item in ViewBag.ListPosts)
                {
                    <div class="card col-3 mx-2 mb-4" id="cardPost">
                        <img class="card-img-top" src="/postFiles/@item.Imagen" alt="No Image Available">
                        <div class="card-body">
                            <h5 class="card-title">@item.Titulo</h5>
                            <p class="card-text">@item.Descripcion</p>
                        </div>
                        <div class="card-footer border-top">
                            <h6 class="card-subtitle mb-2 text-muted">@item.FechaCreacion.ToShortDateString()</h6>
                            <a class="btn btn-dark" id="BoardButton"
                        href='@Url.Action("CargarPost", "Home", new{id=@item.IdPost})'>See Post</a>
                        @{if(ViewBag.User.Moderador){
                        <a class="btn btn-dark" id="BoardButtonDelete"
                        href='@Url.Action("deletePost", "Home", new{id=@item.IdPost})'>Delete Post</a>}
                        }
                        </div>
                    </div>
                }
            </div>
        }
    }