@{
    ViewData["Title"] = "Home Page";
}
<div class="post">
    <div class="row">
        <div class="col-3">
            <img class="img-fluid" src="@ViewBag.Post.Imagen" alt="No Image Available">
            <h6 class="text-muted">@ViewBag.Post.FechaCreacion.ToShortDateString()</h6>
        </div>
        <div class="col-6">
            <h2>@ViewBag.Post.Titulo</h2>
            <h3>@ViewBag.Post.Descripcion</h3>
        </div>
        <div class="col-3">
            <h4 class="float-end mt-3">@ViewBag.Post.Nombre</h4>
        </div>
    </div>
    <div class="row mt-5">
        <h4>Replies:</h4>
        @{
            if (ViewBag.ListReplies.Count == 0)
            {
                <h4 class="text-center">No Replies Available</h4>
            }
            else
            {
                foreach (Post item in ViewBag.ListReplies)
                {
                    <div class="row border-bottom mx-1 mt-3">
                        <div class="col-2">
                            <img class="img-fluid" src="@item.Imagen" alt="No Image Available">
                            <h5 class="pForm">@item.FechaCreacion.ToShortDateString()</h5>
                            <h6>@item.Nombre</h6>
                        </div>
                        <div class="col">
                            <h4>@item.Titulo</h4>
                            <p>@item.Descripcion</p>
                        </div>
                    </div>
                }
            }
            <div class="row mt-3">
                <div class="col text-center">
                    <button class="btn btn-dark mb-3" type="button" data-bs-toggle="modal" id="BoardButton"
                        data-bs-target="#ModalForm" aria-expanded="false" aria-controls="collapseForm">
                        Create Reply
                    </button>
                </div>
            </div>
        }
    </div>
</div>
<div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="form">
            <div class="form">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Create Reply</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" id="" action='@Url.Action("AgregarPost", "Home")'>
            <input type="hidden" name="IdUsuario" value='1'>
            <input type="hidden" name="IdBoard" value="@ViewBag.Post.IdBoard">
            <input type="hidden" name="FkPost" value='@ViewBag.Post.IdPost'>
            <input type="hidden" name="FechaCreacion" value="11-9-2001">
            <label>Title:</label>
            <input required type="text" name="Titulo" class="form-control fw-bold" placeholder="Title">
            <label>Description:</label>
            <textarea required class="form-control" name="Descripcion" rows="5" cols="50" placeholder="Text"
                class="my-2"></textarea>
                <label for="formFile" class="form-label">Upload files:</label>
                <input class="form-control pForm" type="file" multiple>
        </form>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-dark float-end" value="Post">
                </div>
            </div>
        </div>
    </div>
</div>